body {
    font-family:'游ゴシック体', 'Yu Gothic', 'YuGothic', 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','Meiryo UI','メイリオ','Meiryo',Verdana,'ＭＳ Ｐゴシック',sans-serif;
    margin: 0 auto;
    font-size: 9pt;
    font-weight: bold;
    width: 90%;
    text-align: center;
}

table {
  width: 100%;
  border-spacing: 0;
  font-size: 9pt;
  font-weight: bold;
}

table th {
  color: lightsteelblue;
  padding: 3px;
  background: #258;
  background:-moz-linear-gradient(rgba(34,85,136,0.7), rgba(34,85,136,0.9) 50%);
  background:-webkit-gradient(linear, 100% 0%, 100% 50%, from(rgba(34,85,136,0.7)), to(rgba(34,85,136,0.9)));
  font-weight: bold;
  border-left:1px solid #258;
  border-top:1px solid #258;
  border-bottom:1px solid #258;
  line-height: 120%;
  text-align: center;
  text-shadow:0 -1px 0 rgba(34,85,136,0.9);
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
}
table th:first-child {
  border-radius: 5px 0 0 0;
}
table th:last-child {
  border-radius:0 5px 0 0;
  border-right:1px solid #258;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1),0px 1px 1px rgba(255,255,255,0.3) inset;
}
table tr td {
  padding: 3px;
  border-bottom: 1px solid #84b2e0;
  border-left: 1px solid #84b2e0;
  text-align: center;
}
table tr td:last-child {
  border-right: 1px solid #84b2e0;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}
table tr {
  background: #fff;
}
table tr:nth-child(2n+1) {
  background: #f1f6fc;
}
table tr:last-child td {
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}

.divright {
    text-align: right;
}

.banner {
    float: right;
    margin-top: 1px;
    height: 100px;
}

.header {
    width: 100%;
    height: 50px;
    margin-top: 1em;
}

button {
    color: white;
    background-color: #257;
    padding: 3px;
    font-weight: bold;
    text-align: center;
    text-shadow:0 -1px 0 rgba(34,85,136,0.9);
    box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
    border-radius: 3px;
    border-style: none;
    margin-top: 2px;
    margin-bottom: 2px;
    background:-moz-linear-gradient(rgba(34,85,136,0.7), rgba(34,85,136,0.9) 50%);
    background:-webkit-gradient(linear, 100% 0%, 100% 50%, from(rgba(34,85,136,0.7)), to(rgba(34,85,136,0.9)));
    font-family:'游ゴシック体', 'Yu Gothic', 'YuGothic', 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','Meiryo UI','メイリオ','Meiryo',Verdana,'ＭＳ Ｐゴシック',sans-serif;
    font-size: 9pt;
    font-weight: bold;
}

.thumb {
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.wrapper {
    width: calc(100%/3 - 12px);
    margin-right: 2px;
    margin-bottom: 3px;
    border:3px solid #258;
    border-radius: 10px;
    border:1px solid #258;
    position: relative;
    float: left;
}

.wrapper:before {
    content: "";
    display: block;
    padding-top: 100%;
}

table.thumb-table-prof {
    margin-bottom: 8px;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
div#pagenation {
   position: relative;
   overflow: hidden;
   text-align: center;
}
div#pagenation ul {
   position:relative;
   left:47%;
   float:left;
   list-style: none;
   display: inline-block;
}
div#pagenation li {
    position:relative;
    left:-50%;
    float:left;
}
div#pagenation li a {
    border:1px solid #CECECE;
    margin: 0 3px;
    padding:3px 7px;
    display: block;
    text-decoration:none;
    color: #666666;
    background: #fff;
}
div#pagenation li.active a, div#pagenation li a:hover{
    border:solid 1px #666666;
    color: #FFFFFF;
    background: #3399FF;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    body {
        font-size: 9pt;
        font-weight: normal;
        width: 80%;
    }
    table, button, li, label {
        font-size: 9pt;
    }
    th, td {
        font-size: 8pt;
    }
    select, button, option, input, textarea {
        font-size: 6pt;
    }
    .wrapper {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 10px;
        border:3px solid #258;
        border-radius: 10px;
    }

    .wrapper:before {
        content: "";
        display: block;
        padding-top: 200%;
    }

    .thumb {
        height: auto;
        overflow: auto;
    }
    div#pagenation ul {
       position:relative;
       left:34%;
       float:left;
       list-style: none;
       display: inline-block;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
    body {
        font-size: 9pt;
        font-weight: normal;
        width: 80%;
    }
    table, button, li, label {
        font-size: 9pt;
    }
    th, td {
        font-size: 8pt;
    }
    select, button, option, input, textarea {
        font-size: 6pt;
    }
    .wrapper {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 10px;
        border:3px solid #258;
        border-radius: 10px;
    }

    .wrapper:before {
        content: "";
        display: block;
        padding-top: 50%;
    }

    .thumb {
        height: auto;
        overflow: auto;
    }
    div#pagenation ul {
       position:relative;
       left:47%;
       float:left;
       list-style: none;
       display: inline-block;
    }
}
