{
  "presets": [
    "@babel/preset-react"
  ],
  "plugins": [
    "transform-inline-environment-variables"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
