body {
    width : 95%;
    font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','Meiryo UI','メイリオ',Verdana,'ＭＳ Ｐゴシック',sans-serif;
    margin: 0 auto;
    font-size: 100%;
}

.root .top {
    width: 100%;
    margin-bottom: 10px;
    min-height: 250px;
    text-align: center;
}

.root .bottom {
    width: 100%;
    margin-bottom: 10px;
}

.armList {
    width: 100%;
    float: clear;
}

/* .armList input {    */
/*     width: 50px;    */
/*     font-size: 70%; */
/* }                   */

.profile {
    width: 45%;
    margin-right: 10px;
    float: left;
}

.profile table {
    text-align: left;
}

.profile input, select, textarea {
    width: 100%;
}

.summonList {
    width: calc(55% - 10px);
    float: left;
}

/* .resultList {     */
/*     width: 75%;   */
/* }                 */

/* .checkbox {       */
/*     width: 1%;    */
/* }                 */

/* .consider input { */
/*     width: 30px;  */
/* }                 */

input, select, textarea {
    font-size: 100%;
}

table {
    background: #ffffff;
    border-top: #cccccc 1px solid;
    border-left: #cccccc 1px solid;
    border-collapse: collapse;
    width: 100%;
    color:#333333;
}

table th {
    background-color: aquamarine;
    color: #000000;
    border-bottom: #cccccc 1px solid;
    border-top: #cccccc 1px solid;
    border-right:#cccccc 1px solid;
    text-align: center;
    padding: 4px;
    font-size: 80%;
}

table td {
    background: #ffffff ;
    border-bottom:#cccccc 1px solid;
    border-right:#cccccc 1px solid;
    text-align: center;
    padding: 4px;
}
