body {
    width : 95%;
    min-width: 1200px;
    font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','Meiryo UI','メイリオ',Verdana,'ＭＳ Ｐゴシック',sans-serif;
    margin: 0 auto;
    font-size: 9pt;
}

.divright {
    text-align: right;
}

.banner {
    float: right;
    margin-top: 1em;
    height: 100px;
}

.header {
    width: 100%;
    height: 50px;
    margin-top: 1em;
}

.rootleft {
    width: 90%;
    height: 100%;
    float: left;
}

.rootright {
    width: calc(10% - 10px);
    height: 100%;
    margin-left: 10px;
    float: left;
}

.root .top {
    width: 100%;
    height: 30%;
    margin-bottom: 10px;
    min-height: 350px;
    text-align: left;
}

.root .bottom {
    width: 100%;
    margin-bottom: 10px;
}

.sysForm {
    margin-bottom: 1px;
}

.system input {
    width: 100%;
}

.tweet {
    width: 100%;
    height: 100%;
    word-wrap: break-word;
}

.tweet button {
    width: 100%;
}

.system button {
    width: calc((100%/3) - 2px);
}

button {
    background-color: steelblue;
    color: #fff;
    border-style: none;
    border-radius: 1px;
    margin-top: 1px;
    margin-right: 1px;
    margin-left: 1px;
    margin-bottom: 1px;
}

.armList {
    width: 100%;
    float: clear;
}

.armList table th {
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.armList input {
    width: 80%;
}

.armList input.checkbox {
    width: 20px;
}

.armList table th.select, td.select {
    width: 5%;
    min-width: 30px;
}

th.checkbox, td.checkbox {
    width: 20px;
}

.armList table th.consider {
    width: 15%;
    min-width: 180px;
}

.armList table th.system {
    width: 5%;
    min-width: 160px;
}

.armList table input.consider {
    width: 15%;
    min-width: 30px;
}

.profile {
    width: 35%;
    margin-right: 10px;
    float: left;
}

h3 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.profile table th {
    width: calc(100%/6);
}

.profile input, select, textarea {
    width: 100%;
}

.summonList {
    width: calc(65% - 10px);
    float: left;
}

.summonList th.tiny, td.tiny {
    width: 20px;
}

.summonList th, td {
    width: calc(100%/9);
}

.summonList input {
    width: 100%;
}

.summonList label {
    font-size: 9pt;
}

td.resultFirst, th.resultFirst {
    border-left: #bbbbbb 5px double;
    min-width: 70px;
    max-width: 90px;
}

td.resultList, th.resultList {
    min-width: 70px;
    max-width: 90px;
}

.notice {
    margin-top: 1em;
}

.noticeLeft {
    width: 70%;
    float: left;
}

.noticeRight {
    width: 30%;
    float: left;
    text-align: right;
}

input, textarea {
    font-size: 9pt;
    text-align: right;
}

select {
    font-size: 9pt;
}

table {
    background: #ffffff;
    border-top: #cccccc 1px solid;
    border-left: #cccccc 1px solid;
    border-collapse: collapse;
    width: 100%;
    color:#333333;
}

table th {
    background-color: lightsteelblue;
    color: #000000;
    border-bottom: #cccccc 1px solid;
    border-top: #cccccc 1px solid;
    border-right:#cccccc 1px solid;
    text-align: center;
    padding: 4px;
    font-size: 9pt;
}

table td {
    background: #ffffff ;
    border-bottom:#cccccc 1px solid;
    border-right:#cccccc 1px solid;
    text-align: center;
    padding: 4px;
}
