body {
    width : 95%;
    min-width: 1200px;
    font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','Meiryo UI','メイリオ',Verdana,'ＭＳ Ｐゴシック',sans-serif;
    margin: 0 auto;
    font-size: 8pt;
}

input, textarea {
    text-align: right;
}

.divright {
    text-align: right;
}

.banner {
    float: right;
    margin-top: 1em;
    height: 100px;
}

.header {
    width: 100%;
    height: 50px;
    margin-top: 1em;
}

.rootleft {
    width: 90%;
    height: 100%;
    float: left;

}

.rootright {
    width: calc(10% - 10px);
    height: 100%;
    margin-left: 10px;
    float: left;
}

.root .top {
    width: 100%;

    text-align: left;
    height: 0%;
    overflow: hidden;
    transition: all .1s ease-in;
}

.root .top.open {
    width: 100%;
    margin-bottom: 10px;
    overflow: visible;
    min-height: 350px;
}

@media only screen
    and (min-device-width: 320px)
    and (max-device-width: 480px) {
    .root .top.open {
        width: 100%;
        margin-bottom: 10px;
        overflow: visible;
        min-height: 500px;
    }
}

.root .middle {
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    display: none;
}

.root .middle.open {
    width: 100%;
    display: inline;
    margin-bottom: 10px;
    overflow: auto;
}

.root .bottom {
    width: 100%;
    margin-bottom: 10px;
}

.system input {
    width: 100%;
}

.system select {
    width: 100%;
    margin-bottom: 1em;
}

.tweet {
    width: 100%;
    height: 100%;
    word-wrap: break-word;
}

.tweet button {
    width: 100%;
}

.system button {
    width: calc((100%/3) - 2px);
}

button {
    background-color: steelblue;
    color: #fff;
    border-style: none;
    border-radius: 1px;
    margin-top: 1px;
    margin-right: 1px;
    margin-left: 1px;
    margin-bottom: 1px;
}

.armList {
    width: 100%;
    float: clear;
}

.armList table th {
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.armList input {
    width: 100%;
    text-align: right;
}

.armList input.checkbox {
    width: 15px;
}

.armList table th.select, .armList table td.select {
    width: 5%;
    min-width: 30px;
}

th.checkbox, td.checkbox {
    width: 15px;
}

.armList table th.consider {
    width: 8%;
    min-width: 130px;
}

.armList table th.system {
    width: 5%;
    min-width: 160px;
}

.armList table input.consider {
    width: 25%;
    min-width: 30px;
}

.profile {
    width: 37%;
    margin-right: 10px;
    float: left;
}

h3 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.profile table th.prof {
    width: calc(100%/6);
}

.profile table th.buff {
    width: calc(100%/6);
}

.profile input, .profile select, .profile textarea {
    width: 100%;
}

.summonList {
    width: calc(63% - 10px);
    float: left;
    overflow: auto;
}

.summonList th.tiny, .summonList td.tiny {
    width: 45px;
}

.summonList td.tiny select {
    width: 45px;
}

.summonList th, .summonList td {
    width: calc(100%/11);
    font-size: 6pt;
}

.summonList input, .summonList select {
    width: 100%;
}

.summonList label {
    font-size: 9pt;
}

.charaList {
    width: calc(63% - 10px);
    float: left;
    height: 125px;
}

.charaList th.tiny, .charaList td.tiny {
    width: 20px;
}

.charaList th, .charaList td {
    width: calc(100%/9);
}

.charaList input {
    width: 100%;
}

.charaList label {
    font-size: 9pt;
}

td.resultFirst, th.resultFirst {
    border-left: #bbbbbb 5px double;
    min-width: 70px;
    max-width: 90px;
}

td.resultList, th.resultList {
    min-width: 70px;
    max-width: 90px;
}

.notice {
    margin-top: 1em;
}

.noticeLeft {
    width: 70%;
    float: left;
}

.noticeRight {
    width: 30%;
    float: left;
    text-align: right;
}

table {
    background: #ffffff;
    border-top: #cccccc 1px solid;
    border-left: #cccccc 1px solid;
    border-collapse: collapse;
    width: 100%;
    color:#333333;
}

table th {
    background-color: lightsteelblue;
    color: #000000;
    border-bottom: #cccccc 1px solid;
    border-top: #cccccc 1px solid;
    border-right:#cccccc 1px solid;
    text-align: center;
    padding: 2px;
    font-size: 9pt;
}

table td {
    background: #ffffff ;
    border-bottom:#cccccc 1px solid;
    border-right:#cccccc 1px solid;
    text-align: center;
    padding: 2px;
}
