name: Motocal Deploy
'on':
  push:
    branches:
      - master
jobs:
  Deploy:
    runs-on: '${{ matrix.os }}'
    strategy:
      matrix:
        os:
          - ubuntu-18.04
        node-version:
          - 14.x
        python-version: ['3.x', 'pypy-3.6', 'pypy-3.7' ]
    steps:
      - name: 'Set up Node.js ${{ matrix.node-version }}'
        uses: actions/setup-node@v1
        with:
          node-version: '${{ matrix.node-version }}'
      - name: 'Set up Python ${{ matrix.python-version }}'
        uses: actions/setup-python@v2
        with:
          python-version: '${{ matrix.python-version }}'
      - uses: actions/checkout@v2
      - run: npm update -g npm
      - run: npm install
      - run: npm run download:arm
      - run: npm run download:chara
      - run: npm run production-build
      - uses: jsmrcaga/action-netlify-deploy@master
        with:
            NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
            NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
            NETLIFY_DEPLOY_MESSAGE: "Prod deploy v${{ github.ref }}"
            NETLIFY_DEPLOY_TO_PROD: true
